<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>336327150316-rusg8f8rjf8o916c84hubcjd1c5cgrq1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.336327150316-rusg8f8rjf8o916c84hubcjd1c5cgrq1</string>
	<key>API_KEY</key>
	<string>AIzaSyC1vuJFQK2Jftoe9iho7QQnUZ_Sd55ga-4</string>
	<key>GCM_SENDER_ID</key>
	<string>336327150316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nursingapp</string>
	<key>PROJECT_ID</key>
	<string>nursing-app-2022</string>
	<key>STORAGE_BUCKET</key>
	<string>nursing-app-2022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:336327150316:ios:8b47051c0e2a00e4e773c9</string>
</dict>
</plist>